body
{
    background-color: yellow;
}
h1
{
  background-color: green;
  border: 10px solid darkgreen;
  color: lightgreen;
  font-size: 300%;
  font-family: cursive arial;
}

form
{
  background-color: powderblue;
  border: 5px solid darkblue;
  font-family: arial;
  font-size: 200%;
  color: blue;
}
